
.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index:-10;
}

.marker {
  background-image: url('../../../images/poi_icon.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 50px;
  height: 50px;
  border-radius: 0;
  cursor: pointer;
  position: relative;
}
.mapboxgl-user-location-dot {
  background-image: url('../../../images/placementIcon.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius:0;
  width: 70px;
  height: 70px;
}
.mapboxgl-user-location-dot::before {
  display: none;
}
.mapboxgl-user-location-dot::after {
  display: none;
}

.mapboxgl-control-container {
  .mapboxgl-ctrl-top-right {
    position:absolute;
    top:55px;
  }
}